/* === Base Colors === */
$background: #011F26;
$text: #D9D9D9;
$muted: #aaaaaa;
$accent: #7aa2f7;
$blockquote-border: #0B9EBF;
$blockquote-heading-color: #6B90A0;
$code-bg: #567F52;
$code-text: #F2FFF1;
$list-marker-color: #0B9EBF;
$checkbox-checked: #cba6f7;
$checkbox-unchecked: #555;

/* === Headings === */
$h1-color: #D96C0D;
$h2-color: #F25C05;
$h3-color: #F29F05;
$h4-color: #BF6B04;
$h5-color: #B149BF;
$h6-color: #F2E63D;

/* === Emphasis Colors === */
$bold-color: #23A5D9;
$italic-color: #03A696;
$bolditalic-color: #07F2DB;
$strikethrough-color: #A6A6A6;
$blockquote-color: #AFB0B3;

/* === Links === */
$link-internal-color: #41BF9B;
$link-external-color: #AABF0B;